services:
  - type: web
    name: debug-marathon
    env: python
    region: oregon
    plan: free
    buildCommand: "pip install -r backend/requirements.txt"
    startCommand: "gunicorn --worker-class gevent -w 1 --threads 2 --chdir backend app:app --bind 0.0.0.0:$PORT --timeout 120"
    healthCheckPath: /health
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: SECRET_KEY
        generateValue: true
      - key: FLASK_ENV
        value: production
      - key: FLASK_DEBUG
        value: false
